<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contracts</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://js.arcgis.com/4.22/esri/themes/light/main.css">
    <script src="https://js.arcgis.com/4.22/"></script>


    <style>
        .background {
            position: center;
        }
        .background::before {
            content: "";
            background-image: url('https://wallpaperbat.com/img/567173-europe-wallpaper-music-hq-europe-picture-4k-wallpaper-2019.png');
            background-size: cover;
            background-repeat: repeat-y;
            position: absolute;
            top: 62px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            opacity: 0.1;
        }
        .content {
            position: relative;
            text-align: center;
            display: flex;
        }
        .table {
            width: 100%;
            margin: auto;
        }
        html {
            position: relative;
            min-height: 100%;
            padding-bottom: 0px;
        }
        body {
            margin-bottom: 0px;
        }
        popover{
            min-width: 300px; /* Max Width of the popover (depending on the container!) */
        }
        .modal {
            z-index: 1061 !important;

        }
        .modal-dialog {
            min-width: 1140px;
        }
        #viewDiv {
            padding: 0;
            margin: 0;

            height: 600px;
            width: 1138px;
        }
    </style>
</head>
<body>

<header>
    <div>
        <nav th:include="fragments/navbar"></nav>
    </div>
</header>

<div class="background">
    <div class="content">
        <div class="table-responsive" style="position: relative; margin-top: 50px; margin-left: 50px; margin-right: 50px;">
            <table class="table table-bordered table-striped table-dark w-auto">
                <thead style="text-align: center">
                <tr style="background-color: #0660a9">
                    <th colspan="15">
                        <h1> List of contracts </h1>
                    </th>
                </tr>
                <tr>
                    <th style="font-size: 20px;min-width: 50px;">
                        <i class="fas fa-sort-numeric-down"></i>
                        ID
                    </th>
                    <th style="font-size: 20px;min-width: 130px;">
                        <i class="fas fa-shopping-bag"></i>
                        Goods Type
                    </th>
                    <th style="font-size: 20px;min-width: 120px;">
                        <i class="fas fa-money-bill"></i>
                        Total Money
                    </th>
                    <th style="font-size: 20px;min-width: 120px;">
                        <i class="fas fa-globe"></i>
                        Truck
                    </th>
                    <th style="font-size: 20px;min-width: 115px;">
                        <i class="fas fa-chevron-circle-down"></i>
                        Action
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="contract : ${allContractsForm}" style="text-align: center">
                    <td th:text="${contract.id}">>contract.id</td>
                    <td th:text="${contract.typeGoods}">>contract.typeGoods</td>
                    <td th:text="${contract.totalCost}">>contract.totalCost</td>
                    <td>
                        <a tabindex="0" class="pop-show btn btn-info" type="button" data-placement="right" data-toggle="popover" title="Truck Info" data-content="">Show</a>
                        <div class="pop-inn" style="display: none;">
                            <table class="table table-bordered table-striped" style="width:50%">
                                <tr>
                                    <th> Location </th>
                                    <td>
                                        <i class="fas fa-map-marked-alt btn btn-info" data-toggle="modal" data-target="#myModal"></i>

                                        <script th:inline="javascript">
                                            require([
                                                "esri/config",
                                                "esri/Map",
                                                "esri/views/MapView",

                                                "esri/rest/locator"

                                            ], function(esriConfig, Map, MapView, locator) {

                                                esriConfig.apiKey = "AAPKfc023320ea5b4fb9955d7e74a5623fb4KZHfa6kn7i--Jv-1qxWZfL067XASOUpPONXgOqcnsQU8AgpZer-JDLilHLOJL9pY";

                                                const map = new Map({
                                                    basemap: "arcgis-navigation"
                                                });

                                                const view = new MapView({
                                                    container: "viewDiv",
                                                    map: map,
                                                    center: [26.10, 44.43],
                                                    zoom: 10
                                                });

                                                const serviceUrl = "http://geocode-api.arcgis.com/arcgis/rest/services/World/GeocodeServer";
                                                var lat = 44.43;
                                                var lng = 26.10;
                                                lat = 44.43;
                                                lng = 26.10;


                                                const point = { //Create a point
                                                    type: "point",
                                                    longitude: lng,
                                                    latitude: lat
                                                };

                                                const params = {
                                                    location: point
                                                };

                                                locator.locationToAddress(serviceUrl, params).then(function(response) { // Show the address found
                                                    const address = response.address;
                                                    showAddress(address, point);
                                                }, function(err) { // Show no address found
                                                    showAddress("No address found.", point);
                                                });


                                                function showAddress(address, pt) {
                                                    view.popup.collapseEnabled = false;
                                                    view.popup.open({
                                                        content:  + Math.round(pt.longitude * 100000)/100000 + ", " + Math.round(pt.latitude * 100000)/100000,
                                                        title: address,
                                                        location: pt,
                                                        collapsed: false
                                                    });


                                                }

                                            });
                                        </script>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td>
                        <a th:href="@{/export_pdf(contract_Id=${contract.id})}" class="btn btn-success" style="width: 125px;">Export as PDF</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:insert="fragments/footer"></div>

<div class="modal" id="myModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div id="viewDiv" class="modal-body">

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<script>
    $(function () {
        $(".pop-show").popover({
            html: true,
            sanitize: false,
            <!--    trigger: "focus",-->
            content: function() {
                return $('.pop-inn').html();
            }
        });
    })
</script>

</body>
</html>
